{% extends "currency/base.html" %}
{% block content %}
    <p>THIS IS ABOUT PAGE OF EXCHANGE CURRENCY API</p>
    <div>
        <p>Project by <b>Vishal Karda and Vishrut Jha</b></p>
        <p><b>Vishal</b>: Phone: +91 7888425977 | <a href="https://www.linkedin.com/in/vishal-karda-323775126">LinkedIn</a></p>
        <p><b>Vishrut</b>: <a href="https://www.github.com/vishrutkmr7">GitHub </a> | <a href="https://www.linkedin.com/in/vishrutkmr7">LinkedIn</a></p>
    </div>
{% endblock content %}
